<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label for="Name">Name</label>
        <input id="Name" type="text" class="form-control" name="Name" [(ngModel)]="employee.name" #fullName="ngModel"
          required>
        <span *ngIf="!fullName.valid && fullName.touched">Please Enter Your Name</span>
      </div>


      <!-- <div>touched: {{fullName.touched}}</div>
      <div>untouched: {{fullName.untouched}}</div>
      <div>pristine:{{fullName.pristine}}</div>
      <div>dirty:{{fullName.dirty}}</div> -->
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" class="form-control" name="email" [(ngModel)]="employee.email" #email="ngModel"
          [required]="contactPreference.value === 'email'" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
        <span class="help-block" *ngIf="email.errors?.required ">
          Email is required
        </span>
        <span class="help-block" *ngIf="email.errors?.pattern && email.touched">
          Email is Invalid
        </span>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" type="text" class="form-control" name="phoneNumber" [(ngModel)]="employee.phoneNumber"
          #phoneNumber="ngModel" [required]="contactPreference.value==='phone'">
        <span class="help-block" *ngIf="phoneNumber.errors?.required ">
          Phone is required
        </span>
      </div>
      <div class="form-group">
        <label>Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="contactPreference" value="email" [(ngModel)]="employee.contactPreference"
              #contactPreference="ngModel">
            Email
          </label>
          <label class="radio-inline">
            <input type="radio" name="contactPreference" value="phone" [(ngModel)]="employee.contactPreference"
              #contactPreference="ngModel">
            Phone
          </label>
        </div>
      </div>

      <div class="form-group" [class.has-error]="gender.invalid">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="gender" #gender="ngModel" value="male" [(ngModel)]="employee.gender">
            Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" #gender="ngModel" value="female" [(ngModel)]="employee.gender">
            Female
          </label>
        </div>
        <span class="help-block" *ngIf="gender.invalid">
          Gender is required
        </span>
      </div>
      <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
            <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive">Is Active
          </label>
        </div>
      </div>
      <div class="form-group" [class.has-error]="department.touched && department.invalid">
        <label for="department" class="control-label">Department</label>
        <select id="department" name="department" [(ngModel)]="employee.department" class="form-control"
          appSelectValidator='select' #department="ngModel" [(ngModel)]="employee.department">
          <option ngValue="select">Select Department</option>
          <option *ngFor="let dept of departments" [value]="dept.id">
            {{dept.name}}
          </option>
        </select>
        <span class="help-block" *ngIf="department.errors?.defaultSelected && department.touched">Department is
          required</span>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="dateOfBirth">Date of Birth</label>
          <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" type="text" bsDatepicker
            [bsConfig]="datePickerConfig" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="photoPath">Photo Path</label>
        <input id="photoPath" type="text" class="form-control" name="photoPath" [(ngModel)]="employee.photoPath">
      </div>
      <div class="form-group">
        <img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto" />
      </div>
      <div class="form-group">
        <button (click)="togglePhotoPreview()" type="text" class="btn btn-primary">
          {{previewPhoto ? "Hide " : "Show " }} Preview
        </button>
      </div>


    </div>

    <div class="panel-footer">
      <button class="btn btn-primary" type="submit" [disabled]="!employeeForm.valid">Save</button>
    </div>
  </div>
</form>

Angular Generated Forom Model : {{employeeForm.value | json}}